:root {
  --primary-color: #faf8ed;
  --background-color: #faf8ed;
  --font: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  font-family: var(--font);
  justify-content: center;
  overflow-x: hidden;
  width: 100vw;
}

/* Nav */

nav {
  height: 40px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100vw;
  font-size: 22px;
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  border-bottom: 2px solid #748e63;
  background-color: #faf8ed;
  z-index: 1;
  filter: drop-shadow(1px 2px 8px hsl(0deg 0% 0% / 0.25));
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 400px;
}

.navItem {
  text-decoration: none;
  font-weight: bold;
  color: #748e63;
}

img {
  padding: 10px 0;
  width: 260px;
}

.videoEmbed {
  margin: 10px 0;
}

/* Timeline Container */
.timeline {
  display: flex;
  justify-content: center;
  background: var(--primary-color);
  padding: 0 20px;
}

/* Card container */
.card {
  position: relative;
  max-width: 400px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: '';
  position: absolute;
  width: 50%;
  border: solid #f9b572;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #748e63;
  color: #faf8ed;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  font-family: 'Charmonman', cursive;
  font-weight: 700;
  font-style: normal;
  color: #f9b572;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid #f9b572;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}
